<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <appSettings>
    <add key="CouponPath" value="D:\\www\\picture\\Passbook\\"/>
    <add key="WrongLogPath" value="PassBookLog\WrongLog\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <dataConfiguration defaultDatabase="QueryConn" />

  <dataCacheClient>
    <hosts>
      <host name="192.168.27.83" cachePort="22233"/>
    </hosts>
    <securityProperties mode="None" protectionLevel="None"/>
  </dataCacheClient>
  <securityCryptographyConfiguration>
    <hashProviders>
      <add name="MD5Cng" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
          algorithmType="System.Security.Cryptography.MD5Cng, System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          saltEnabled="false" />
    </hashProviders>
    <symmetricCryptoProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.DpapiSymmetricCryptoProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
          name="DPAPI Symmetric Crypto Provider" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <connectionStrings>
    <add name="QueryConn" connectionString="Application Name=VeloWebManage;Data Source=192.168.27.76;Initial Catalog=Velo135DB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd_007_2012" providerName="System.Data.SqlClient" />
    <add name="WriteConn" connectionString="Application Name=VeloWebManage;Data Source=192.168.27.76;Initial Catalog=Velo135DB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd_007_2012" providerName="System.Data.SqlClient" />
    <add name="Velo135DB" connectionString="Application Name=VeloWebManage;Data Source=192.168.27.76;Initial Catalog=Velo135DB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd_007_2012" providerName="System.Data.SqlClient" />
    <add name="VeloMasterDB" connectionString="Application Name=VeloWebManage;Data Source=192.168.27.76;Initial Catalog=Velo135DB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd_007_2012" providerName="System.Data.SqlClient" />
    <add name="VeloSecondDB" connectionString="Application Name=VeloWebManage;Data Source=192.168.27.76;Initial Catalog=Velo135DB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd_007_2012" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior">
          <dataContractSerializer maxItemsInObjectGraph="65536000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
       
        <binding name="ECouponBinding" listenBacklog="100000" maxReceivedMessageSize="2147483647" maxConnections="100000">
          <security mode="None"/>
        </binding>
        
      </netTcpBinding>
    </bindings>
    <client>

      <!--测试192.168.27.74:8022  线上192.168.27.74:8022 test 192.168.27.74:8122 192.168.27.3:8001 郭明杰 65-->
      <endpoint name="ECoupon" address="net.tcp://192.168.27.75:8020/VeloEnterpriseBusiness/ECoupon" binding="netTcpBinding" bindingConfiguration="ECouponBinding" contract="VEBS.Contract.Common.InterfaceContract.IECoupon"/>
      </client>

  </system.serviceModel>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>
